<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/domain.css') }}">
</head>
<body>

    <header>
        <div class="header-left">
            <h1>Freelance Hub</h1>
        </div>
        <div class="header-right">
           
        </div>
    </header>

    <div class="container">
        <h2>Projects Count by Domain</h2>
        {% for domain, data in domain_data.items() %}
            <div class="domain-box">
                <h3>{{ domain }}: {{ data.count }} projects</h3>
                <ul>
                    {% for project in data.projects %}
                        <li>
                            {{ project.title }}
                            <a href="{{ url_for('project_details', project_id=project.id) }}" class="project-btn">
                                View Project
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <a href="{{url_for('home')}}" class="back-btn">Back</a>
    </div>

</body>
</html>
